    <aside>
      <section class="wechat-box">
        <i class="fa fa-weixin"></i>
        <img src="images/qr-code.jpg"/>
        <p>Scan QRcode </br>
          or add by ID:</br>
          <b>xiaoqiaonz</b>
        </p>

        <div class="btn-shape">Subscribe us</div>
      </section>

      <section class="aside-block">
        <div class="big-circle"><img src="images/calculator.jpg"/></div>
        <div class="title_with_icon">
          <i class="fa fa-calculator">&nbsp;</i>
          <div>What will my home loan repayments be?</div>
        </div>

        <div class="insert-wrapper">
          <input class="input1" type="text" placeholder="Loan amount:*"></input>
          <input class="input1" type="text" placeholder="Interest rate:*"></input>
          <input class="input1" type="text" placeholder="Loan length:*"></input>
        </div>

        <div class="btn-shape btn1 center-position">calculate</div>
      </section>

    </aside>