@charset "UTF-8";
/* line 14, ../app/styles/custom.scss */
* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 23, ../app/styles/custom.scss */
body {
  margin: 0;
  color: #555;
  box-sizing: border-box;
  background-color: #eee;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 34, ../app/styles/custom.scss */
input, textarea {
  box-shadow: none;
  border: none;
  font-size: 14px;
  padding: 0 8px;
  resize: none;
}
/* line 94, ../app/styles/mixin.scss */
input ::-webkit-input-placeholder, textarea ::-webkit-input-placeholder {
  color: #999;
}
/* line 95, ../app/styles/mixin.scss */
input :-moz-placeholder, textarea :-moz-placeholder {
  color: #999;
}
/* line 96, ../app/styles/mixin.scss */
input ::-moz-placeholder, textarea ::-moz-placeholder {
  color: #999;
}
/* line 97, ../app/styles/mixin.scss */
input :-ms-input-placeholder, textarea :-ms-input-placeholder {
  color: #999;
}

/* line 50, ../app/styles/custom.scss */
a {
  color: white;
  text-decoration: none;
}

/* line 53, ../app/styles/custom.scss */
header {
  width: 100%;
  height: 100px;
  background-color: white;
  position: fixed;
  z-index: 100;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 64, ../app/styles/custom.scss */
.main-content-wrapper {
  background-color: #eee;
  width: calc(100% - 100px);
  left: 100px;
  top: 100px;
  position: relative;
}

/* line 72, ../app/styles/custom.scss */
main {
  background-color: #eee;
  width: calc(100% - 100px);
  left: 100px;
  position: relative;
}

/* line 81, ../app/styles/custom.scss */
nav {
  background: #121920;
  width: 100px;
  height: 100%;
  position: fixed;
}
/* line 87, ../app/styles/custom.scss */
nav .left-menu {
  color: white;
  font-size: 12px;
  text-align: center;
  top: 130px;
  position: relative;
}
/* line 94, ../app/styles/custom.scss */
nav .left-menu li {
  height: 80px;
  padding: 10px;
  cursor: pointer;
}
/* line 100, ../app/styles/custom.scss */
nav .left-menu li i {
  font-size: 20px;
  display: block;
  margin: 10px;
}
/* line 106, ../app/styles/custom.scss */
nav .left-menu li:hover {
  background-color: white;
  color: #121920;
}

/* line 117, ../app/styles/custom.scss */
dialog {
  position: fixed;
  top: 110px;
  right: 20px;
  width: 300px;
  padding: 10px 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(250, 255, 189, 0.95);
}

/* line 129, ../app/styles/custom.scss */
aside {
  position: absolute;
  max-width: 350px;
  width: 280px;
  right: 0;
  top: 0;
  background-color: white;
}

/* line 140, ../app/styles/custom.scss */
.home-btn {
  background-color: #f06421;
  height: 100px;
  width: 100px;
  position: relative;
  float: left;
}
/* line 149, ../app/styles/custom.scss */
.home-btn img {
  width: 60px;
  margin: 33px 19px;
}

/* line 154, ../app/styles/custom.scss */
.right-col {
  position: absolute;
  right: 0;
  top: 0;
  width: 280px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  max-width: 350px;
  cursor: pointer;
  color: #aaa;
  font-size: 14px;
}
/* line 169, ../app/styles/custom.scss */
.right-col:hover {
  color: #555;
}

/* line 175, ../app/styles/custom.scss */
.float-right-btn {
  position: relative;
  float: right;
  width: 280px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  max-width: 350px;
  cursor: pointer;
  color: #aaa;
  font-size: 14px;
}
/* line 189, ../app/styles/custom.scss */
.float-right-btn:hover {
  color: #555;
}

/* line 197, ../app/styles/custom.scss */
.theme-slide {
  height: 450px;
  width: 100%;
  overflow: hidden;
}
/* line 202, ../app/styles/custom.scss */
.theme-slide img {
  width: 100%;
}

/* line 205, ../app/styles/custom.scss */
.wechat-box {
  background-color: rgba(240, 100, 33, 0.8);
  height: 450px;
  padding-top: 100px;
  text-align: center;
}
/* line 211, ../app/styles/custom.scss */
.wechat-box i {
  font-size: 30px;
  color: white;
  clear: both;
  display: block;
  margin: 50px 0 20px;
}
/* line 219, ../app/styles/custom.scss */
.wechat-box img {
  width: 80px;
}
/* line 221, ../app/styles/custom.scss */
.wechat-box p {
  font-size: 14px;
  color: white;
}
/* line 225, ../app/styles/custom.scss */
.wechat-box p b {
  text-decoration: underline;
}

/* line 229, ../app/styles/custom.scss */
.aside-block {
  padding: 40px 20px;
}

/* line 233, ../app/styles/custom.scss */
.big-circle {
  width: 120px;
  height: 120px;
  overflow: hidden;
  border: 2px solid #ddd;
  margin: auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 241, ../app/styles/custom.scss */
.big-circle img {
  width: 140%;
  margin: 0 0 0 -15px;
}

/* line 247, ../app/styles/custom.scss */
.title_with_icon {
  width: 75%;
  margin: 20px auto 10px;
}
/* line 250, ../app/styles/custom.scss */
.title_with_icon i {
  font-size: 25px;
  float: left;
  margin: 4px 10px;
}
/* line 251, ../app/styles/custom.scss */
.title_with_icon div {
  font-size: 14px;
  vertical-align: top;
}

/* line 254, ../app/styles/custom.scss */
.insert-wrapper {
  width: 75%;
  margin: auto;
}
/* line 258, ../app/styles/custom.scss */
.insert-wrapper input {
  border-bottom: 1px solid #dddddd;
  height: 35px;
  line-height: 33px;
  margin: 0 0 5px 10px;
  width: 93%;
}

/* line 268, ../app/styles/custom.scss */
.search-box {
  margin: 30px;
  position: relative;
  display: block;
  float: left;
  border-bottom: 1px solid #dddddd;
  width: 350px;
  padding: 10px 0;
}
/* line 277, ../app/styles/custom.scss */
.search-box i {
  font-size: 14px;
  float: right;
  margin: 0 10px;
  color: #aaa;
  cursor: pointer;
}
/* line 284, ../app/styles/custom.scss */
.search-box i:hover {
  color: #555;
}

/* line 289, ../app/styles/custom.scss */
.lang-switch {
  right: 300px;
  position: absolute;
  top: 40px;
  font-size: 14px;
  cursor: pointer;
  color: #aaa;
}
/* line 297, ../app/styles/custom.scss */
.lang-switch:hover {
  color: #555;
}

/* line 307, ../app/styles/custom.scss */
.email-pattern {
  background: lime url("../images/contactbg.png") repeat fixed center;
  width: 100%;
  height: 30px;
}

/* line 313, ../app/styles/custom.scss */
.contact-info-each {
  color: #999;
  margin: 5px 0 15px;
}
/* line 102, ../app/styles/mixin.scss */
.contact-info-each:after {
  content: "";
  display: table;
  clear: both;
}
/* line 318, ../app/styles/custom.scss */
.contact-info-each i {
  font-size: 20px;
  float: left;
}
/* line 323, ../app/styles/custom.scss */
.contact-info-each div {
  font-size: 14px;
  width: 85%;
  float: right;
}
/* line 330, ../app/styles/custom.scss */
.contact-info-each .fa-map-marker {
  margin: 0 2px;
}
/* line 331, ../app/styles/custom.scss */
.contact-info-each .fa-envelope {
  font-size: 15px;
}
/* line 332, ../app/styles/custom.scss */
.contact-info-each .fa-phone {
  font-size: 18px;
}
/* line 333, ../app/styles/custom.scss */
.contact-info-each .fa-mobile {
  font-size: 22px;
  margin: 0 2px;
}
/* line 334, ../app/styles/custom.scss */
.contact-info-each .fa-wechat {
  float: none;
  font-size: 15px;
  margin: 1px 2px;
}

/* line 338, ../app/styles/custom.scss */
.send-email-wrapper {
  width: 95%;
  margin: 10px auto 0;
}
/* line 342, ../app/styles/custom.scss */
.send-email-wrapper input, .send-email-wrapper textarea {
  border-bottom: 1px solid #ddd;
  height: 35px;
  line-height: 33px;
  margin: 0 0 15px 10px;
  width: 93%;
}
/* line 349, ../app/styles/custom.scss */
.send-email-wrapper textarea {
  height: 200px;
  margin-bottom: 0;
}

/* line 361, ../app/styles/custom.scss */
article {
  width: calc(100% - 320px);
  left: 0px;
  right: 280px;
  margin: 20px 2% 0;
  padding: 0 20px;
  font-size: 11px;
}
/* line 372, ../app/styles/custom.scss */
article .article-in-here {
  margin: 20px 0;
  line-height: 20px;
}

/* line 379, ../app/styles/custom.scss */
.control-btn-section {
  margin: 40px 40px 20px;
}

/* line 388, ../app/styles/custom.scss */
.fade-bg {
  background-color: rgba(255, 255, 255, 0.6);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}

/* line 396, ../app/styles/custom.scss */
.login-popup {
  top: 50%;
  position: fixed;
  width: 600px;
  height: 400px;
  margin: -250px auto 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 10px 0 #dddddd;
  -moz-box-shadow: 0 0 10px 0 #dddddd;
  box-shadow: 0 0 10px 0 #dddddd;
  z-index: 200;
}

/* line 414, ../app/styles/custom.scss */
.login-intro {
  height: 100%;
  float: left;
  width: 40%;
  overflow: hidden;
  position: relative;
}
/* line 421, ../app/styles/custom.scss */
.login-intro img {
  height: 100%;
  z-index: 10;
}
/* line 423, ../app/styles/custom.scss */
.login-intro .intro-content {
  position: absolute;
  color: white;
  top: 0;
  padding: 30px 20px;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
}

/* line 434, ../app/styles/custom.scss */
.login-insert-part {
  width: 60%;
  float: left;
  padding: 60px 30px 0;
  text-align: center;
}

/* line 443, ../app/styles/custom.scss */
.form-group {
  border-bottom: 1px solid #dddddd;
  margin: 0 20px 10px;
  padding: 8px 10px;
  text-align: left;
}

/* line 451, ../app/styles/custom.scss */
.remember-pw .check-box {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin: 20px auto;
}
/* line 463, ../app/styles/custom.scss */
.remember-pw span {
  font-size: 12px;
}

/* line 472, ../app/styles/custom.scss */
#container {
  width: calc(100% - 320px);
  left: 0px;
  right: 280px;
  margin: 20px 2% 0;
}

/* line 479, ../app/styles/custom.scss */
.item {
  background-color: white;
  width: 250px;
  overflow: hidden;
  margin: 15px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
/* line 487, ../app/styles/custom.scss */
.item img {
  width: 100%;
}

/* line 490, ../app/styles/custom.scss */
.m-item-dec-wrapper {
  width: 100%;
  min-height: 50px;
  background-color: white;
  padding: 10px 15px;
  margin-top: -3px;
}
/* line 102, ../app/styles/mixin.scss */
.m-item-dec-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/* line 501, ../app/styles/custom.scss */
.item.w2 {
  width: 530px;
}

/* line 506, ../app/styles/custom.scss */
.item.contact-w3 {
  width: 380px;
  display: inline-block;
  vertical-align: top;
}

/* line 513, ../app/styles/custom.scss */
.m-item-dec {
  font-size: 14px;
  position: absolute;
}
/* line 517, ../app/styles/custom.scss */
.m-item-dec .item-title {
  font-weight: bold;
}
/* line 518, ../app/styles/custom.scss */
.m-item-dec .item-date {
  font-size: 11px;
}

/* line 521, ../app/styles/custom.scss */
.like {
  float: right;
  font-size: 11px;
  font-weight: bold;
  color: #f06421;
  margin-top: 8px;
}

/* line 531, ../app/styles/custom.scss */
.price {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  float: right;
  font-size: 12px;
  font-weight: bold;
  background-color: #F06421;
  color: white;
  margin-top: -30px;
  z-index: 10;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

/* line 557, ../app/styles/custom.scss */
.btn-shape {
  height: 35px;
  line-height: 33px;
  padding: 0 20px;
  display: inline-block;
  color: white;
  border: 1px solid white;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

/* line 573, ../app/styles/custom.scss */
.btn1 {
  background-color: #f06421;
  border: none;
}

/* line 578, ../app/styles/custom.scss */
.center-position {
  margin: 20px auto;
  width: 100px;
  display: block;
}

/*---------------------------------------FONT-------------------------------------*/
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 600, ../app/styles/custom.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.2rem;
  font-weight: 300;
}

/* line 604, ../app/styles/custom.scss */
h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  letter-spacing: -.1rem;
}

/* line 605, ../app/styles/custom.scss */
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -.1rem;
}

/* line 606, ../app/styles/custom.scss */
h3 {
  font-size: 3.0rem;
  line-height: 1.3;
  letter-spacing: -.1rem;
}

/* line 607, ../app/styles/custom.scss */
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -.08rem;
}

/* line 608, ../app/styles/custom.scss */
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -.05rem;
}

/* line 609, ../app/styles/custom.scss */
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  /* line 613, ../app/styles/custom.scss */
  h1 {
    font-size: 5.0rem;
  }

  /* line 614, ../app/styles/custom.scss */
  h2 {
    font-size: 4.2rem;
  }

  /* line 615, ../app/styles/custom.scss */
  h3 {
    font-size: 3.6rem;
  }

  /* line 616, ../app/styles/custom.scss */
  h4 {
    font-size: 3.0rem;
  }

  /* line 617, ../app/styles/custom.scss */
  h5 {
    font-size: 2.4rem;
  }

  /* line 618, ../app/styles/custom.scss */
  h6 {
    font-size: 1.5rem;
  }
}
/* line 621, ../app/styles/custom.scss */
p {
  margin-top: 0;
  font-family: 'Lato', 'sans-serif';
  font-weight: 300;
  font-size: 0.875rem;
  margin-bottom: 20px;
}

/*---------------------------------------FONT END-------------------------------------*/
/*================================MEDIA QUERIES FROM HERE=======================================*/
/* Landscape phones and down */
/* Landscape phone to portrait tablet */
/* Portrait tablet to landscape and desktop */
/* Large desktop */
